<launch>

    
    <node pkg="kitti_tools" type="kitti_toolsNode" name="kitti_toolsNode" output="screen">
    </node>

    <param name="lidarPath" type="string" value="/home/yang/数据集/KITI数据集/2024-8-4_FULL-KITI-DataSet/kitti/dataset/sequences/00/velodyne" />
    <param name="mode"      type="int"    value="1" />

    <!-- <param name="lidarPath" type="string" value="/home/yang/数据集/KITI数据集/2024-8-4_FULL-KITI-DataSet/kitti/dataset/sequences/00/velodyne/000001.bin" />
    <param name="mode"      type="int"    value="0" /> -->



    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find kitti_tools)/rviz_cfg/readData.rviz" /> -->
    
</launch>



